.door {
	position: fixed;
	z-index: 5;
	top: 55px;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 10px 10px 0 0;
	border: 1px solid #000;
	background: #fff;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
}
